*.class
*.ppk
.cache
.gwt
.settings
*.log
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
Icon?
appengine*.jar
appengine-web.xml
dist/
*/WEB-INF/classes/
gwt-unitCache/
secret.props
secret.properties
target/

